<div class=login-page>
	<div class=img-container>
		<div class="text-center pull-right photo">
			<img src="resources/images/order_logo.png" class="user-avatar img-circle img-responsive">
			<h2>
				CommandeApp
				<br>
				<span>DASHBOARD</span>
				<br>
				<small></small>
			</h2>
		</div>
	</div> 
	<div class=form-content >
		<div class=pro-link>
			<a href="javascript:void()">Bienvenue Chez notre Application</a>
		</div>
		<form role=form class=bottom-75 ng-submit=submit()>
			<div class=table-form>
				<div class=form-groups>
					<div class=form-group>
						<input type=text class="form-control input-lg" placeholder="EMAIL"></div>
					<div class=form-group>
						<input type=password class="form-control input-lg" placeholder="MOT DE PASSE"></div>
				</div>
				<div class=button-container>
					<button type=submit class="btn btn-default login">
						<img src="images/arrow.png"></button>
				</div>
			</div>
			<div class=remember>
				<label class=checkbox1 for=Option>
					<input id=Option type=checkbox>
					<span></span>
				</label>
				me souvient
				<span class=pass>Mot de passe oublié?</span>
			</div>
		</form>
	</div>
</div>